soap/schufa/soapSchufa/src/main/resources/wsdl/vschufa_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://vschufa.hfu.de/" elementFormDefault="unqualified" targetNamespace="http://vschufa.hfu.de/" version="1.0">
<xs:element name="getScoreValue" type="tns:getScoreValue"/>
<xs:element name="getScoreValueResponse" type="tns:getScoreValueResponse"/>
<xs:complexType name="getScoreValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getScoreValueResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
